body {
  background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 500;
}

#title {
  text-align: center;
  margin: 50px auto 0 auto;
  padding: 0;
  font-weight: normal;
}

#description {
  text-align: center;
  font-style: italic;
  margin-bottom: 30px;
  margin-top: 15px;
  font-weight: 100;
  color: rgb(245, 237, 237);
  font-size: 1.125rem;
  ;
}

form {
  background-color: rgba(27, 27, 50, 0.8);
  width: 35%;
  padding: 10px 30px 0 30px;
  margin: 0 auto -8px auto;
  border-radius: 0.25rem;
}


fieldset {
  border: 0;
  padding-bottom: 25px;
}

input,
select,
option {
  border-radius: 0.25rem;
  width: 100%;
  padding: 10px 0 10px 15px;
  margin-top: 5px;
}

input[type="radio"],
[type="checkbox"] {
  width: 18px;
  height: 18px;

}

::placeholder,
option,
select {
  font-weight: 550;
}

select {
  padding: 10px 0;
}

label {
  display: block;
  margin: 25px 0;
}

.quest {
  margin: auto;
}

.otmetka {
  margin: 4px 0 0 0;
}

.last-label-fieldset {
  margin-bottom: 0;
}

.lastotm {
  margin-bottom: 25px;
}

span {
  font-size: 15px;
}

textarea {
  width: 100%;
  font-size: 15px;
  margin-top: 5px;
}

input[type="submit"] {
  display: block;
  font-size: 16px;
  background-color: #37af65;
  border: none;
  width: 100%;
  padding: 13px;
  margin: 0;
  font-weight: 500;
  color: white;
  margin: 25px 0;
}

.lastfield {
  padding-top: 0;
}